# Ignore Cargo.lock (you typically ignore this for libraries but keep it for binary apps)
Cargo.lock

# Ignore the main.pdb file (you may want to hide other .pdb files as well)
main.pdb

# Optionally, ignore all .pdb files
*.pdb

*.exe